body,

.vis-container {
    height: calc(100% - 60px);
    padding: 0px;
    position: absolute;
    width: 100%;
}

.vis-scale {
    height: 60px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0px;
}
#page-content-wrapper {
    padding: 0px;
    height: 100%;
}
